.container {

    
    width: 500px;
    position: relative;
    left: 20%;
    top: 0;
    backdrop-filter: blur(10px);
    background: transparent;
    border-radius: 15px;
    height: 550px;
    border: 0.5px rgb(126, 122, 122) solid;
    

    

}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("abstract-dark-background-with-moving-white-lines-dots-network-connection-worldwide-internet-connection-illustration-big-data-3d-rendering_710001-13.webp");
    background-position: 50%;

}

#btn {

    position: absolute;
    left: 40%;
    

    
}

#titleofpage {

   display: flex;
   justify-content: center;
   margin-bottom: 30px;

}

#linkreg {

    position: absolute;
    top: 90%;
    text-decoration: none;
    
}

#imgs {

    position: absolute;
    left: -110%;
    top: 10%;
    width: 450px;
    height: 450px;
}

@media (max-width : 1200px) {

    .container {

    
        width: 350px;
        position: relative;
        left: 0%;
        top: 40px;
        backdrop-filter: blur(10px);
        background: transparent;
        border-radius: 15px;
        height: 550px;
        border: 0.5px rgb(126, 122, 122) solid;
        
    
        
    
    }
    
   
    
    #imgs {
    
        position: absolute;
        left: -110%;
        top: 10%;
        width: 450px;
        height: 450px;
        visibility: hidden;
    }


}


@media (min-width : 700px) {

    .container {

    
        width: 550px;
        position: relative;
        left: 0%;
        top: 300px;
        backdrop-filter: blur(10px);
        background: transparent;
        border-radius: 15px;
        height: 550px;
        border: 0.5px rgb(126, 122, 122) solid;
        
    
        
    
    }
    
   
    
    #imgs {
    
        position: absolute;
        left: 0%;
        top: 0%;
        width: 150px;
        height: 150px;
        margin: 5px red solid;
        
    }


}

@media (min-width : 1000px) {

    .container {

    
        width: 500px;
        position: relative;
        left: 20%;
        top: 0;
        backdrop-filter: blur(10px);
        background: transparent;
        border-radius: 15px;
        height: 550px;
        border: 0.5px rgb(126, 122, 122) solid;
        
    
        
    
    }
    
    body {
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url("abstract-dark-background-with-moving-white-lines-dots-network-connection-worldwide-internet-connection-illustration-big-data-3d-rendering_710001-13.webp");
        background-position: 50%;
    
    }
    
    #btn {
    
        position: absolute;
        left: 40%;
        
    
        
    }
    
    #titleofpage {
    
       display: flex;
       justify-content: center;
       margin-bottom: 30px;
    
    }
    
    #linkreg {
    
        position: absolute;
        top: 90%;
        text-decoration: none;
        
    }
    
    #imgs {
    
        position: absolute;
        left: -110%;
        top: 10%;
        width: 450px;
        height: 450px;
    }
    



}



