#card {

    display: flex;
    
    flex-direction: column;
    padding: 20px;
    width: 600px;
    position: relative;
    left: 50%;
    background: transparent;
    backdrop-filter: blur(10px);

    
    
}

#forme1 {

    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 17%;
    left: 0;
    width: 100%;
    
}

#btn {

    background-color: rgb(29, 190, 15);
    font-weight: bolder;
    font-size:  22px;
    font-family: monospace;
}

a {

    text-decoration: none;
    font-weight: bold;
}

body {

    background-image: url();
}

img {

    position: relative;
    left: -125%;
    top: -70px;
    
}

#title {

    position: relative;
    top: 0;
    color: rgb(224, 6, 53);
    
}